nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#restaurants-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.inside #maincontent {
  display: flex;
}

.inside #map-container {
  flex: 0 0 50%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.inside #info-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .filter-options {
    flex-direction: column;
    height: 150px;
  }
  .filter-options h2 {
    margin: 10px 0px 0px 0px;
  }
}

@media screen and (min-width: 700px) {
  .filter-options {
    display: list-item;
    height: 100px;
  }
  .filter-options h2 {
    padding: 20px 0px 0px 0px;
  }
  #neighborhoods-select {
    margin: 0px 0px 0px 30px;
  }
}

@media screen and (max-width: 875px) {
  #restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #restaurants-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #restaurants-list .restaurant-img {
    max-height: 260px;
    max-width: 345px;
  }
}

@media screen and (max-width: 950px) {
  .inside #maincontent {
    display: inherit;
  }
}

@media screen and (max-width: 1175px) {
  #restaurant-img {
    max-width: 400px;
  }
  .inside #map-container {
    width: 100%;
  }
}


@media screen and (max-width: 1300px) {
  #restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 2fr 2fr;
  }
  #restaurants-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #restaurants-list .restaurant-img {
    max-height: 260px;
    max-width: 345px;
  }
}
