.maincontainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {

}

@media screen and (min-width: 801px) {
 .maincontainer {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   }
}
